@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-image: url('../assests/balance.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.main.container {
  backdrop-filter: blur(10.8px);
  width: auto;
  min-width: 100px;
  max-width: 600px;
  margin: 1em 1em;
}

.hero .container {
  width: auto;
  min-width: 100px;
  max-width: 600px;

  backdrop-filter: blur(10.8px);
  margin: 2em 2em;
}


/* Display */
.display.container-fluid {
  background-color: rgb(16, 19, 80);
  min-height: 200px;
  max-height: 300px;
  height: 200px;
  overflow-y: scroll;
  min-width: 250px;
  max-width: 350px;
  width: 250px;
}

.answer.container {
  background-color: yellowgreen;

}

.answer.container .row .col-6 {
  display: flex;
  gap: 0.5em;
}

.btns.container .btn {

  height: 60px;
}